<%- include('../includes/head.ejs') %>
<script src="https://kit.fontawesome.com/766e633129.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/login.css" />

</head>

<body>

  
  <form class="form" action="/admin/login"" method="POST" >
    <h3 class="h3">Welcome! ☕️</h3>
    <% if (flashMsg) { %>
      <div><p class="user-message txt-misc txt-smaller"><%= flashMsg  %></p></div>
    <% } %>
    <% if (errorMessage) { %>
      <div><p class="user-message user-message--error txt-misc txt-smaller"><%= errorMessage  %></p></div>
    <% } %>
    <input placeholder="email" type="email" name="email" class="form__element input" required autocomplete="email">
    <div class="pwd-box">
      <input placeholder="password" class="form__element input " name="password"  id="pwd" type="password" required autocomplete="current-password">
      <button type="button" class="eye-toggle"><i class="eye-icon fa-regular fa-eye"></i></button>
    </div>
    

    <button class="form__element form__btn" type="submit"><%= buttonTxt  %></button>
    
  </form>
  <% if (buttonTxt == "LOG IN") { %>
  <form class="forgot-cont" action="/admin/pwdforgot"  method="POST">
      <button class="forgot-btn"  type="submit">
        forgot password?
      </button>
  </form>
  <% } %>
  
</main>
 <script src="/js/login.js"></script>
</body>

</html>