<%- include('../includes/head.ejs') %>
<script src="https://kit.fontawesome.com/766e633129.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/login.css" />

</head>

<body>
  <section id="swup" class="transition-fade login">
 
  <form class="form" action="/admin/login"" method="POST" >
    <% if (flashMsg) { %>
      <div><p class="user-message"><%= flashMsg  %></p></div>
    <% } %>
    <% if (errorMessage) { %>
      <div><p class="user-message user-message--error"><%= errorMessage  %></p></div>
    <% } %>
    <input placeholder="email" type="email" name="email" class="form__element input" required autocomplete="email">
    <div class="pwd-box">
      <input placeholder="password" class="form__element input " name="password"  id="pwd" type="password" required autocomplete="current-password">
      <button type="button" class="eye-toggle"><i class="eye-icon fa-regular fa-eye"></i></button>
    </div>
    

    <button class="form__element form__btn" type="submit"><%= buttonTxt  %></button>
    
  </form>
  <% if (buttonTxt == "LOG IN") { %>
  <form action="/admin/pwdforgot"  method="POST">
      <button  type="submit">
        forgot password?
      </button>
  </form>
  <% } %>
  
</section>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
 <!-- <script src="/js/login.js"></script> -->
 <script type="module" src="/js/main.js"></script>  
</body>

</html>