<div class="admin-nav">
  <form action="/admin/logout" method="POST">
    <button class="form__element form__btn logout" type="submit">LOG OUT</button>
  </form>
  <h2 class="admin-title">* CONTENT UPDATE *</h2>
  
</div>