<div class="admin-nav">
  <h2 class="admin-title">* CONTENT SET UP *</h2>
  <div class="admin-link">
    <a
      class="<%= path === '/admin/home-config' ? 'clicked--btn' : '' %> btns-g"
      href="/admin/home-config"
      >Home</a
    >
    <a
      class="<%= path === '/admin/portfolio-config' ? 'clicked--btn' : '' %> btns-g"
      href="/admin/portfolio-config"
      >Portfolio</a
    >
    <a
      class="<%= path === '/admin/about-config' ? 'clicked--btn' : '' %> btns-g"
      href="/admin/about-config"
      >About</a
    >
  </div>
</div>
