<header class="header">
  <div class="link-wrap">
    <a class="link" href="/">portfolio</a>
    <div class="lien-home">
      <h1>
        <a href="/"
          >Safran Lecuivre <br />
          <i>cinematographer</i></a
        >
      </h1>
    </div>
    <a class="link" href="/about">about</a>
  </div>

  <hr class="menu--line" />
</header>
