<header class="header">
  
  <div class="link-wrap">
    <% if (path == "/portfolio") { %>
      <a class="link a-tag" href="/about">about</a>
    <% } else if(path == "/about" || path == "/contact") { %>
      <a class="link a-tag" href="/portfolio">portfolio</a>
      <% } else{ %>
        <a class="link a-tag" href="/portfolio">portfolio</a>
      <% } %>
       
   
    <div class="lien-home">
      <h1 class="h1">
        <a class="a-tag" href="/">Safran Lecuivre <br />
          <i class="txt-smaller">cinematographer</i></a>
      </h1>
    </div>
    <% if (path == "/portfolio" || path == "/about") { %>
      <a class="link a-tag" href="/contact">contact</a>
    <% } else{ %>
      <a class="link a-tag" href="/about">about</a>
      <% } %> 
    
  </div>

  <hr class="menu--line" />
  <button class="burger-wrap" aria-label="Burger menu button">
    <span class="burger"></span>
  </button>
  <div class="burger-link-cont">
    <div class="wrap-blur"></div>

    <ul class="burger-links">
      <li>
        <a class="burger--link a-tag" href="/">Home</a>
      </li>
      <li>
        <a class="burger--link a-tag" href="/portfolio">portfolio</a>
      </li>
      <li>
        <a class="burger--link a-tag" href="/about">about</a>
      </li>
      <li>
        <a class="burger--link a-tag" href="/contact">contact</a>
      </li>
      <li>
        <a
          class="burger--link a-tag"
          id="insta"
          href="https://www.instagram.com/safwan_lekwibre/"
          target="_blank"
          ><img src="./icons/insta.png" alt="Instagram logo"
        /></a>
      </li>
    </ul>
  </div>
</header>

