<header class="header">
  
  <div class="link-wrap">
    <% if (path == "/portfolio") { %>
      <a class="link" href="/about">about</a>
    <% } else if(path == "/about" || path == "/contact") { %>
      <a class="link" href="/portfolio">portfolio</a>
      <% } %>
       
   
    <div class="lien-home">
      <h1>
        <a href="/">Safran Lecuivre <br />
          <i>cinematographer</i></a>
      </h1>
    </div>
    <% if (path == "/portfolio" || path == "/about") { %>
      <a class="link" href="/contact">contact</a>
    <% } else if(path == "/contact"){ %>
      <a class="link" href="/about">about</a>
      <% } %> 
    
  </div>

  <hr class="menu--line" />
  <button class="burger-wrap">
    <span class="burger"></span>
  </button>
  <div class="burger-link-cont">
    <div class="wrap-blur"></div>

    <li class="burger-links">
      <ul>
        <a class="burger--link" href="/">Home</a>
      </ul>
      <ul>
        <a class="burger--link" href="/portfolio">portfolio</a>
      </ul>
      <ul>
        <a class="burger--link" href="/about">about</a>
      </ul>
      <ul>
        <a class="burger--link" href="/contact">contact</a>
      </ul>
      <ul>
        <a
          class="burger--link"
          id="insta"
          href="https://www.instagram.com/safwan_lekwibre/"
          target="_blank"
          ><img src="./icons/insta.png" alt="Instagram logo"
        /></a>
      </ul>
    </li>
  </div>
</header>

