/* BODY */
.container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fffcf4;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article:first-child {
  flex: 1;
}
article:first-of-type(2) {
  flex: 1;

  width: 3rem;
}

.cont {
  width: 90%;
  max-width: 1200px;
  height: 60%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 0.5rem;
  border-style: groove inset;
  border-color: #808f9629;
  border-width: 0.1rem;

  display: flex;
  flex-flow: row;
  justify-content: space-between;

  overflow-y: scroll; /* Show vertical scrollbar */

  backdrop-filter: blur(6px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* minimalist design */
.cont::-webkit-scrollbar {
  width: 5px;
}

.cont::-webkit-scrollbar-track {
  background: #00000049;
  border-radius: 10px;
}

.cont::-webkit-scrollbar-thumb {
  background-color: rgb(252, 247, 255);
  border-radius: 10px;
}

.cont::-webkit-scrollbar-thumb:hover {
  background: #fffcf4;
  border-radius: 10px;
}

.cont::-webkit-scrollbar-thumb:active {
  background: #ffc815;
  border-radius: 10px;
}

.box1 {
  display: flex;
  justify-content: start;
  max-width: 70%;
}

.box1 p {
  padding: 10px;
  font-family: "Poiret One", cursive;
  font-size: 1.5rem;
  cursor: default;
  white-space: pre-line;
  /* text-align: left; */
  /* text-indent: Opx; */
}
.box2 {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}
.img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  max-height: 100%;
}

#insta {
  margin-top: 3rem;
}

/* MEDIA QUERY */

@media screen and (max-width: 500px) {
  /* MAIN */
  .cont {
    flex-wrap: wrap;
  }
  .box1 {
    min-width: 300px;
  }
}

@media screen and (min-width: 500px) {
  .link {
    display: block;
  }
  .burger-wrap,
  .burger-link-cont {
    display: none;
  }
}
