html {
  overflow: scroll;
}

.admin-nav {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout {
  margin-bottom: 1rem;
  padding: 0.5em;
  border-radius: 20%;
  /* font-size: 1rem; */
}
.admin-link {
  display: flex;
}
.admin-title {
  color: #fffcf4;
  font-size: 2rem;
}

.cont {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.cont-port {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.admin-img {
  width: auto;
  height: 100%;
}
.admin-home-img {
  width: 100% auto;
  height: auto;
  /* max-height: 167px; */
}
.vignette {
  border: 1px groove white;
  padding: 1rem;
  padding-bottom: 0rem;
  border-radius: 1rem;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 1.5em 0 #fffcf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  margin: 2rem;
  max-height: 360px;
  position: relative;
}
.vignette img {
  max-width: 300px;
  max-height: 80%;
}
.vignette button {
  border-radius: 3rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0.3rem 0;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.vignette button:hover {
  box-shadow: 0 0 1.5em 0 #fffcf482;
}
.vignette-footer {
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
}
.phone-vignette {
  margin-right: 0.4rem;
}

.profil-vignette {
  height: 100px;
  width: auto;
  display: inline;
  margin: 1rem;
}

.video-id-p {
  color: white;
}

.vignette-port {
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 610px;
  min-height: 100px;
  justify-content: center;
}

.title-port {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  text-align: center;
}

.title-port:hover:after {
  content: attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  background: rgba(22, 22, 22, 0.797);
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  max-width: 20rem;
  border: 1px solid #eaebec;
  border-radius: 1rem;
  padding: 0 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
  white-space: normal;
  word-wrap: break-word;
  display: block;
  color: rgb(255, 255, 255);
  margin-top: -1.25rem;
}

.arrow-ud {
  display: none;
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
  padding-right: 0.2rem;
  cursor: grab;
}

.fieldset {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.radio-btn {
  appearance: none;
  transition: 0.2s all linear;
  border: 2px dotted #999;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.radio-txt {
  padding: 0.2rem;
}
.radio-btn:checked {
  border: 4px solid rgb(255, 255, 255);
}

@media (min-width: 992px) {
  .arrow-ud {
    display: block;
  }
  .vignette-port {
    height: 100px;
  }
}
