html {
  overflow-y: scroll;
}
.input {
  width: 100vw;
  max-width: 400px;
}
.textarea {
  margin-bottom: 0.5rem;
}

.insta-cont {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.container__txt {
  font-size: 1.3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 0.3rem; */
}
.container__txt p {
  padding: 0rem;
}
.logo {
  margin-left: 0.2rem;
}
#insta {
  margin: 0.4rem;
}
