.form {
  height: 50vh;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}
.input {
  width: 100vw;
  max-width: 300px;
}
.forgot-cont {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.forgot-btn {
  font-family: "Poiret One", cursive;
  background-color: none;
  text-decoration: none;
  background: none;
  border-style: none;
  text-decoration: underline;
  color: #fffdf7d7;
  font-size: 1.1rem;
  cursor: pointer;
}
