*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fffcf4;
}
html {
  background-color: rgb(19, 0, 26);
  overflow: hidden;

  background-color: #000002;
  background-image: radial-gradient(at 47% 33%, rgb(0, 0, 0) 0, transparent 79%),
    radial-gradient(at 92% 95%, rgb(0, 0, 0) 0, transparent 95%);
}

.h1,
.h3 {
  font-family: "Poiret One", cursive;
}
.txt-misc {
  padding: 1rem;
}
.h2,
.txt-misc {
  font-family: "Spartan", serif;
  font-weight: 70;
  font-size: 2.3rem;
}

.txt-smaller {
  font-size: smaller;
  margin-left: 1.2rem;
}
.txt-sm {
  font-family: "Poiret One", cursive;
  font-size: 1rem;
}
.radio-txt {
  margin-left: 0rem;
}

.a-tag {
  text-decoration: none;
  font-family: "Poiret One", cursive;
  font-size: 1.7rem;
  font-weight: 250;
  margin: 1rem;
}

.link-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu--line {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 30%;
  border: 0;
  min-height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #fffcf4,
    rgba(255, 255, 255, 0)
  );
}
.admin-btn {
  position: absolute;
  bottom: 1rem;
  right: 0;
  background: none;
  border: 1px solid#fffcf4;
  border-right: none;
}

/* burger */
.burger-wrap {
  display: block;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 20%;
  background-color: rgba(255, 243, 240, 0);
  border: #fffdf7 0.01em solid;
  transition-property: border-radius, border, box-shadow, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: scale(1);
  position: absolute;
  top: 0.8%;
  left: 2.5%;
  /* position: relative; */
  z-index: 8;
}
.burger-wrap.tapped {
  border-radius: 50%;
  border: #fffcf4 a1 0.02em solid;
  box-shadow: 0 0 1.5em 0 #fffcf4 af;
  transform: scale(1.2);
}

.burger,
.burger::after {
  display: block;
  width: 1.5rem;
  height: 0.1rem;
  margin: 0 auto;
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  border-radius: 2rem;
  background-color: #fffdf7;
}
.burger {
  transform: translateY(-200%) scale(1);
}

.burger::after {
  content: "";
  transform: translateY(300%) scale(1);
  background: #fff1c2;
}

.burger.tapped {
  transform: rotate(-135deg) scale(1.2);
  box-shadow: 0 0 1em 0 #fffcf4;
  background: #fffcf4;
}

.burger.tapped::after {
  background: #fffcf4;
  transform: rotate(270deg);
  box-shadow: 0 0 1em 0 #fffcf4;
}

.burger-link-cont {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100vh;
}
.wrap-blur {
  transform: translate(-100%, -100%);
  overflow: none;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 7;
  border-bottom-right-radius: 30%;
  box-shadow: 0rem 0rem 0em #fffcf4;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
}
.blur {
  background-color: rgb(0, 0, 0);
  transform: translate(-0%, -0%);
  box-shadow: 0.2rem 2rem 3em #fffcf4;
}

.burger-links {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  z-index: -1;
  /* transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1); */
}
.burger-links.indexed {
  z-index: 7;
}
.burger-links li {
  text-align: center;
  margin-bottom: 2rem;
}
.burger--link {
  pointer-events: none;
  text-shadow: 0 0.1rem 0.3em #fffcf4;
  color: #fffcf4;
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 0.4rem;
  font-family: "Cairo", sans-serif;
  opacity: 0;
  transform: translateY(-200%);
  /* transition-property: opacity, transform; */
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
.showlink {
  pointer-events: all;
  transform: translateY(-0%);
  opacity: 1;
}

.lienHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.pwd-reset-msg {
  text-align: center;
  font-size: 1.5rem;
}
.link {
  padding-top: 2rem;
  font-size: 1.22rem;
}

.insta-img {
  width: 30px;
  height: 30px;
}
/* anim buttons */

.btns-g,
.btns-main {
  position: relative;
}

.btns-g::before,
.btns-main::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 40%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
  background-color: currentColor;
  box-shadow: 0 0 0.5em currentColor, 0 0 0.7em currentColor;
}

.btns-g:hover::before,
.btns-main:hover::before {
  transform: scaleX(0.6);
}

.btns-g::after,
.btns-main::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 40%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
  background-color: currentColor;
  box-shadow: 0 0 0.5em currentColor, 0 0 0.7em currentColor;
}

.btns-g:hover::after,
.btns-main:hover::after {
  transform: scaleX(0.5);
}
/* ONCE CLICKED*/

.clicked--btn {
  text-shadow: 0 0 0.5em currentColor, 0 0 0.7em currentColor;
}

.clicked--btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 40%;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in;
  background-color: currentColor;
  box-shadow: 0 0 0.5em currentColor, 0 0 0.7em currentColor;
}

.clicked--btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 40%;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 250ms ease-in;
  background-color: currentColor;
  box-shadow: 0 0 0.5em currentColor, 0 0 0.7em currentColor;
}

/* loader and fade anim */

body {
  opacity: 0;
  /* transition-duration: 0.7s;
  transition-property: opacity; */
  transition: opacity 1s ease-in;
  /* display: none; */
  -webkit-animation-name: fadeIn 0.7s ease-in forwards;
  animation-name: fadeIn;
  animation: fadeIn 0.7s ease-in forwards;
}

body.fade-in {
  opacity: 1;
  /* display: block; */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wheelTurn {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.error400 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
  width: 100vw;
  padding: 1rem;
}

@media screen and (max-width: 360px) {
  .burger-wrap {
    top: 10px;
    left: 0;
    margin: 10px;
  }
}
@media screen and (max-width: 700px) {
  .link {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .burger-wrap {
    display: none;
  }
}

@media only screen and (max-width: 1181px) and (orientation: landscape) {
  .header {
    margin-top: 0px;
  }
}
