<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/contact.css" />
</head>

<body>
  <%- include("../includes/navigation.ejs")%>
  <main>
    <div class="container">
      <% if (errorMsg) { %>
        <div><p class="user-message user-message--error txt-misc"><%= errorMsg  %></p></div>
      <% } %>
      <form class="form" method="POST" action="/contact">
        <input class="form__element input" type="text" name="subject" placeholder="Hi! What's your email subject?" required />
        <input class="form__element input" type="email" name="email" placeholder="Enter your email address here" required />

        <textarea class="form__element input__txt textarea" type="text" rows="15" name="message" placeholder="Write your message here" required></textarea>



        <button type="submit" class="form__element form__btn">SEND</button>
      </form>
      <hr class="line" />
      <div class="insta-cont">
        <div class="container__txt">
          <p class="txt-misc txt-smaller">
            Follow me<a class="a-tag container__txt logo" href="https://www.instagram.com/safwan_lekwibre/" target="_blank">@safwan_lekwibre</a>
          </p>
         
        </div>
        
        <a class="a-tag" id="insta" href="https://www.instagram.com/safwan_lekwibre/" target="_blank"><img src="./icons/insta.png" alt="instalogo" /></a>
      </div>

    </div>


  </main>




  <script src="/js/contact.js"></script>
  <%- include ("../includes/footer.ejs") %>