<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/projector.css">
</head>

<body>
  
  <main>
    <div class="error400">
      <h1 class="h1">Sorry this séance is sold out. Please come back in an hour or so 🍿</h1>
    </div>
    <div class="projector-loader">
      <div class="wheels">
        <div class="wheel-one">
          <div class="film-one"></div>
        </div>
        <div class="wheel-two">
          <div class="film-two"></div>
        </div>
      </div>
      <div class="body-to-smoke">
        <div class="body">
          <div class="smoke"></div>
        </div>
        <div class="lense"></div>
    
      </div>
   
    </div>
  </main>



</body>

</html>