<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <div class="container">
    <div class="lien-home">
      <h1>
        <a href="/">Safran Lecuivre <i>cinematographer</i></a>
      </h1>
    </div>

    <nav>
      <ul class="lien gradient">
        <div class="dropdown">
          <div class="dropdown-content">
            <a class="dropdown-link" id="mv" data-section="mv" href="./portfolio">Music video</a>
            <a class="dropdown-link" id="narrative" data-section="narrative" href="./portfolio">Narrative</a>
            <a class="dropdown-link" id="commercial" data-section="commercial" href="./portfolio">Commercial</a>
            <a class="dropdown-link" id="reel" data-section="reel" href="./portfolio">Reel</a>
          </div>
          <li class="dropbtn li">
            <a id="port" href="./portfolio">portfolio</a>
          </li>
        </div>

        <li class="li"><a href="./about">about</a></li>
        <li class="li"><a href="./contact">contact</a></li>
        <li class="li" id="insta">
          <a href="https://www.instagram.com/safwan_lekwibre/" target="_blank"><img src="./icons/insta.png" alt="insta logo" /></a>
        </li>
      </ul>
    </nav>
  </div>
  
  <section class="imgs">
    <% if (imgs.length > 0) { %>

    <% imgs.forEach((img, i ) =>{ %>
    <img class="img i<%= i %>" src="<%= img %>" alt="cinema still" />
    <% }) %>
    <% } %>
  </section>


  <script src="/js/index.js"></script>
</body>
</html>